[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/node"]
	path = .vim/bundle/node
	url = https://github.com/moll/vim-node.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
