[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/plugins/zsh-history-substring-search"]
	path = zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".fonts/fonts"]
	path = .fonts/fonts
	url = https://github.com/powerline/fonts
[submodule ".bin/powerline"]
	path = .bin/powerline
	url = https://github.com/powerline/powerline
[submodule ".fonts/Menlo-for-Powerline"]
	path = .fonts/Menlo-for-Powerline
	url = https://github.com/abertsch/Menlo-for-Powerline
